<h2>Appointment Clinic Top</h2>


<div class="row">
	<button class="mr10 btn btn-default" ng-click="ctl.loadMaster()">マスタ更新</button>
	<button class="mr10 btn btn-default" ng-click="ctl.search()">検索</button>
</div>

<div class="row">
	<div class="col-xs-8 01" style="height:800px">
		<!--
                            <div class="col-xs-8 01" style="height:800px;width:100%">
                -->
		<div class="table-responsive">
			<table class="table table-striped table-bordered">
				<!--
                        <thead>
                        <tr>
                            <th>予約日</th>
                            <th>時刻</th>
                            <th>飼主番号</th>
                            <th>飼い主名</th>
                            <th>動物番号</th>
                            <th>動物名</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Cell 1-1</td>
                            <td>Cell 1-2</td>
                            <td>Cell 1-3</td>
                            <td>Cell 1-4</td>
                            <td>Cell 1-5</td>
                            <td>Cell 1-6</td>
                        </tr>
                        <tr>
                            <td>Cell 2-1</td>
                            <td>Cell 2-2</td>
                            <td>Cell 2-3</td>
                            <td>Cell 2-4</td>
                            <td>Cell 2-5</td>
                            <td>Cell 2-6</td>
                        </tr>
                        </tbody>
                        -->
				<!--予約一覧-->
				<div class="table-responsive" style="height:600px">
					<div ui-grid="ctl.appointmentGridOptions" ui-grid-selection class="grid" style="height:600px"></div>
				</div>
			</table>
		</div>
	</div>
	<div class="col-xs-4 02" style="height:800px;width:400">
<!--
		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>N/A</th>
								<th>N/A</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Cell 1</td>
								<td>Cell 1-2</td>
							</tr>
							<tr>
								<td>Cell 2-1</td>
								<td>Cell 2-2</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
        -->
		<div class="row">
			<div class="col-xs-6">
				<div class="table-responsive" style="height:160px">
					<!--カルテ区分-->
					<div ui-grid="ctl.karteKubunGridOptions" ui-grid-selection class="grid" style="width:150px;height:150px"></div>
				</div>
			</div>
			<div class="col-xs-6">
				<!--状況-->
				<div class="table-responsive" style="height:160px">
					<div ui-grid="ctl.jhokyoGridOptions" ui-grid-selection class="grid" style="width:150px;height:150px"></div>
				</div>
			</div>
		</div>
		<div class="row" style="height:160px">
			<div class="col-xs-6">
				<!--動物種-->
				<div class="table-responsive">
					<div ui-grid="ctl.dobutsushuGridOptions" ui-grid-selection class="grid" style="width:150px;height:150px"></div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="table-responsive" style="height:160px">
					<!--診療科-->
					<div ui-grid="ctl.shinryokaGridOptions" ui-grid-selection class="grid" style="width:150px;height:150px"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<div class="table-responsive" style="height:310px">
					<!--主治医-->
					<div ui-grid="ctl.tantoiGridOptions" ui-grid-selection class="grid" style="width:150px;height:300px"></div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="table-responsive" style="height:310px">
					<!--担当医-->
					<div ui-grid="ctl.shujiiGridOptions" ui-grid-selection class="grid" style="width:150px;height:300px"></div>
				</div>
			</div>
		</div>
	</div>
</div>