<!doctype html>
<html lang="jp" ng-app="ivet.app">

<head>
	<meta charset="utf-8">
	<title>My HTML File</title>
	<link rel="stylesheet" href="_bower_components/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="_bower_components/angular-ui-grid/ui-grid.css" />
	<script src="_bower_components/requirejs/require.js"></script>
	<script src="_bower_components/angular/angular.js"></script>
	<script src="_bower_components/angular-resource/angular-resource.js"></script>
	<script src="_bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="_bower_components/angular-ui-grid/ui-grid.js"></script>
	<script src="./_app.js"></script>
</head>

<body>
	<div class="container">
		<h1>{{'iVet Application'}}</h1>
		<div ui-view></div>
	</div>
</body>

</html>