<h2>Appointment Clinic Top</h2>
<a href="#/appointment/"><button class="mr10 btn btn-default" ui-sref="appointment">戻る</button></a>

<button class="mr10 btn btn-default" ng-click="ctl.loadMaster()">マスタロード</button>

<div ui-grid="ctl.tantoiGridOptions" ui-grid-selection class="grid" style="width:150px;height:150px"></div>
<div ui-grid="ctl.shujiiGridOptions" ui-grid-selection class="grid" style="width:150px;height:150px"></div>