<div class="row">
	<button class="mr10 btn btn-default" ng-click="ctl.goClinic()">診療予約</button>
</div>
<div class="row">
	<a href="#/index.html"><button class="mr10 btn btn-default" ui-sref="top"><< トップ</button></a>
</div>
<div ui-view></div>