	<div class="row">
		<a href="#/appointment/"><button class="mr10 btn btn-default" ui-sref="appointment">予約</button></a>
		<a href="#/appointment/"><button class="mr10 btn btn-default" ui-sref="appointment">診療記録</button></a>
		<a href="#/appointment/"><button class="mr10 btn btn-default" ui-sref="appointment">記録...</button></a>
		<a href="#/appointment/"><button class="mr10 btn btn-default" ui-sref="appointment">飼主・動物・病院</button></a>
	</div>
